<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.mikheev.circles"
    versionCode = "17"
    version     = "1.1.2" >

<!-- versionCode is optional and Android only -->

  <name>Circle clicker</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author href="http://blogmiheeva.ru" email="aleksvalmix@yandex.ru">
      Mikheev Aleksey
  </author>
    <preference name="orientation" value="portrait" />
    <preference name="android-build-tool" value="ant|gradle" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="12" />
    <access origin="*" />
    <uses-permission android:name="android.permission.INTERNET" />
    <icon src="img/android/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="img/android/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="img/android/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="img/android/mipmap-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
    <icon src="img/android/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="xxxhdpi" />
</widget>