<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.mikheev.circles"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Circle clicker</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author href="http://blogmiheeva.ru" email="aleksvalmix@yandex.ru">
      Mikheev Aleksey
  </author>
    <preference name="orientation" value="portrait" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="ldpi" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="mdpi" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="hdpi" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="xhdpi" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="xxhdpi" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="xxxhdpi" />
    <icon src="img/MAjZxWnTvBRn7A.jpg" platform="android" qualifier="fr-xxhdpi" />
</widget>